h1 {
    text-align: center;
}

.allusersContainer {
    border-bottom: 1px solid black;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    text-align: center;    
    font-size: 13px;
}
.allusersContainerAdmin {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}
.allusersHover ul:hover, .allusersContainer:hover {
    background-color: #dae343;
}
.allusersP {
    width:100%;

    padding-top: 20px;
    /* padding-bottom: 20px; */

}
.editUserBtn  {
    text-decoration: none;
}
.editUserBtn button {
    padding: 5px 10px;
    font-size: 10px;
    margin-bottom:20px;
    margin-top: 10px;

}
.allusersForm {
    text-align: center;
    border-bottom:1px solid black;
    padding-bottom:20px;

}
.clickableName {
    text-decoration: underline;
}
@media screen and (min-width: 480px) {
   .allusersP {
    width:100%;
   }
  }