.adminAllEventsContainer{
    margin: 0 50px;
    text-align: center;
}

.allusersForm {
    margin-top: 20px;
    padding-right: 25px;
    height: fit-content;
}

#sort-event-select-label {
    color: black;
    text-align: center;
}