h1 {
    color:red;
}

.drawerContainer {
    margin-top: 45%;
    padding: 0;

  
    
}
.drawerContainer svg {
    width: 35px;
    height: 35px;
    padding: 0;

}

* {
    /* outline:1px solid red; */
}