.alluserDetailsContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.alluserDetailsContainer li  {
    padding-bottom:10px;
}

#userDetailsName {
    font-size: 32px;
    margin-bottom: 20px;
}

#BioLi{
    width: 500px;
}

.userDetailsName, span {
    font-weight: 800;
}