

nav {
   
    
}
.myHeader {
   border: 1px solid black;
   display: flex;
   justify-content: center;
}

.myHeader img {
    width:100px;
    padding:10px 0px;
    
}

.drawersContainer {
    float: left;
    position: absolute;
    
}
.QSClogoContainer {
   
}






